#project-label {
    display: block;
    font-weight: bold;
    margin-bottom: 1em;
}

#project-description {
    margin: 0;
    padding: 0;
}

.ui-autocomplete {
    max-height: 300px;
    overflow-y: scroll;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    z-index: 9999;
}
/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
    height: 100px;
}

