#banner
{
    width: 680px;
    height: 370px;
    position: relative;
    padding: 0;
    background: white;
    margin: 5px auto;
}

div#content p:first-child
{
    padding-top: 0;
    margin-top: 0;
}


div#bannerContainer
{
    width: 680px;
    height: 370px;
    position: absolute;
    z-index: 30;
}

div#banner-img
{
    width: 680px;
    height: 370px;
    position: relative;
}

div#preloader
{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../images/layout/preloader.gif) no-repeat center center;
}

.imgFader
{
    width: 670px;
    height: 370px;
    position: absolute;
}

.imgFader:first-of-type
{
    z-index: 105;
    display: none;
}

.imgFader:last-of-type
{
    z-index: 110;
    display: none;
}