.sidebar {
  margin-top: 0; }

.page-header {
  margin-top: 10px !important; }

#panel-client-img-holder {
  background: #f3f3f3;
  text-align: center;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey; }
  #panel-client-img-holder img {
    max-height: 100px;
    margin: 0 auto;
    max-width: 100%;
    height: auto; }

.panel-stat-item {
  display: inline-block;
  width: 100px; }
  .panel-stat-item.stat-gray a {
    color: #d9dadb; }

.stat .panel-stat-item.stat-gray a:visited {
  color: #d9dadb; }

.panel-stat-item a {
  color: #f29d01; }
  .panel-stat-item a:visited {
    color: #f29d01; }
  .panel-stat-item a:hover {
    color: #000000; }

.panel-content {
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  background-image: url(../images/v2/bg/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }

.panel-content-overlay {
  background: rgba(255, 255, 255, 0.9);
  position: relative; }

.panel-default .panel-heading {
  background-color: #e8e8e8 !important;
  color: inherit !important; }

ul#side-menu li {
  background: #e8e8e8;
  border-left: 5px solid transparent; }
ul#side-menu > li.active-parent {
  border-left: 5px solid #f29d01; }
ul#side-menu > li > a {
  padding-left: 10px; }
  ul#side-menu > li > a > i {
    width: 40px; }

.sidebar .sidebar-nav.navbar-collapse {
  background: #f3f3f3; }

.panel-contact {
  background: #f3f3f3;
  color: inherit;
  text-align: center;
  padding: 10px;
  margin: 10px; }

#panel-sidebar-wrapper {
  width: 250px;
  height: 100%;
  background: #e8e8e8;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease; }

@media (min-width: 768px) {
  #panel-content.closed-sidebar .panel-content-overlay > .navbar {
    position: static; }
  #panel-content.closed-sidebar #panel-sidebar-wrapper {
    width: 50px;
    position: absolute;
    overflow-y: visible !important;
    overflow-x: hidden; }
  #panel-content.closed-sidebar #page-wrapper {
    margin-left: 50px !important; }
  #panel-content.closed-sidebar #panel-client-img-holder, #panel-content.closed-sidebar #panel-salesman, #panel-content.closed-sidebar #panel-sidebar-wrapper:not(.expanded) ul#side-menu ul {
    display: none; } }
@media (max-width: 767px) {
  #panel-sidebar-wrapper {
    position: relative;
    width: 100%; }

  #panel-content.closed-sidebar #panel-client-img-holder, #panel-content.closed-sidebar #panel-salesman {
    display: none; }

  #close-panel-menu {
    display: none; } }
#close-panel-menu-wrapper {
  text-align: right; }

#close-panel-menu {
  width: 49px;
  height: 100%;
  background: transparent;
  border-left: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  border-top: 0;
  border-right: 0;
  border-radius: 0 0 0 5px; }
  #close-panel-menu:hover {
    background: orange; }

#panel-content.closed-sidebar #close-panel-menu-wrapper {
  text-align: left; }
#panel-content.closed-sidebar #close-panel-menu {
  border-radius: 0 0 0 0;
  border-top: 1px solid lightgrey;
  border-right: 1px solid lightgrey; }
#panel-content.closed-sidebar #panel-sidebar-wrapper {
  z-index: 100;
  -webkit-box-shadow: 5px 0px 3px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 0px 3px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 0px 3px 0px rgba(0, 0, 0, 0.5); }
  #panel-content.closed-sidebar #panel-sidebar-wrapper.expanded {
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    width: 260px !important; }

.react-datepicker__tether-element {
  font-size: 14px; }

.dataRangeSelector {
  position: absolute;
  right: 10px;
  top: 10px; }
  .dataRangeSelector > div > div > span {
    cursor: pointer; }

@media (max-width: 900px) {
  .dataRangeSelector {
    position: relative;
    right: 0;
    top: 0;
    text-align: right; } }
.chat-panel .panel-body {
  height: 400px; }

.chartWrapper {
  background: lightgray;
  max-height: 500px;
  min-height: 400px; }

#mapDelivered.chartWrapper {
  height: 500px; }

#packagesOrders.chartWrapper {
  height: 300px; }

.big {
  font-size: 20px; }

@media (min-width: 1200px) and (max-width: 1500px) {
  .fa-5x {
    font-size: 3em !important; }

  .huge {
    font-size: 30px; } }
@media (min-width: 768px) {
  #page-wrapper {
    padding: 0; } }
#panel-content #main h2:first-child {
  margin-top: -10px; }

/*# sourceMappingURL=panel-mine.css.map */
