#pricing
{
    clear: both;

    font-weight: bold;
}

#pricing h3
{
    font-weight: bold;
    color: #ff5d24;
    font-size: 14px;
    padding-top: 10px;
}

#slider
{
    width: 85%;
    margin: 80px auto 50px auto;
}

#slider .ui-slider-label
{
    font-weight: normal;
    letter-spacing: -1px;
    cursor: pointer;
}

#slider .ttContent
{
    color: white;
}

#price
{
    position: relative;
    clear: both;
    text-align: center;
    font-size: 20px;
    margin: 15px auto;
    height: 30px;
    border-left: 2px solid #ff5d24;
    border-right: 2px solid #ff5d24;
    border-bottom: 2px solid #ff5d24;
    /*padding: 10px 10px 14px 10px;*/
    width: 125px;
    color: #ff5d24;
    font-weight: bold;
    background: #f3d8d8 url(custom-theme/images/ui-bg_diagonals-thick_75_f3d8d8_40x40.png) 50% 50% repeat;

}

#price div
{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-weight: normal;
    font-size: 10px;
    color: black;
}