a.logo_ruch
{
    background: url('../images/logo.png');
}

html, body
{
    background: #c6e5ea;
}

.section-main
{
    background-image: url(../images/bg_1.jpg);
}

.section-main-bg
{
    padding-bottom: 150px;
}

.top-header-orange {
    background: #8fa6ab;
}

.top-header-login {
    background: #8fa6ab;
}


#home-page
{
    /*margin: 150px auto;*/
}

#bottom-orange
{
    display: none;
}

footer
{
    background-color: #8fa6ab;
    background-image: url(../images/footer.jpg);
    min-height: 270px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 200px;
}

footer #footer-menu
{
    background: none;
}
