$orange-color: #f29d01;

.img-center {
  margin: 0 auto;
}

body {
  font-family: Tahoma, Arial, sans-serif;
  background: #9aacaf;
}

h2 {
  font-family: 'Oswald', sans-serif;
}

.bold {
  font-weight: bold;
}

.red {
  color: red;
}

.top-header {
  position: relative;
  background: white;
  font-family: 'Oswald', sans-serif;
}

.top-header-orange {
  background: rgba(242, 157, 1, 1);
  position: absolute;
  left: 50%;
  right: 0;
  top: 0;
  bottom: 0;
}

.top-header .row > div {
  height: 80px;
}

.top-logo {
  background: white;
}

#logo {
  margin-top: 14px;
  height: 50px;
  width: auto;
}

.top-menu {
  > ul {
    list-style-type: none;
    font-size: 1.5em;
    margin: 25px 0 0 0;
    padding: 0;
    li {
      display: inline-block;
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
      line-height: 50px;
    }
  }
  background: white;
  position: relative;
}

#fly-sender-form {
  position: absolute;
  top: 80px;
  right: 0;
  left: 15px;
  background: rgba(255, 165, 0, 0.9);
  z-index: 999;
  display: none;
  padding: 0;
}

#fly-account-form {
  position: absolute;
  top: 80px;
  right: 0;
  background: rgba(255, 255, 255, 0.9);
  z-index: 999;
  display: none;
  line-height: 1em;
  color: black;
  text-align: left;
  border-left: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      display: inline-block;
      padding: 0;
      margin: 0;
      a {
        color: black;
        display: block;
        padding: 8px 10px;
        &:hover {
          color: white;
          background: $orange-color;
        }
      }
    }
  }
  input {
    &[type=text], &[type=password] {
      width: 220px;
      margin-top: 5px;
      margin-bottom: 5px;
      display: inline-block;
      border-radius: 0;
    }
  }
  button[type="submit"] {
    border: 0;
    color: rgba(242, 157, 1, 1);
    font-size: 3em;
    padding: 0;
    line-height: 30px;
    background: none;
    margin-top: -39px;
    /*margin-bottom: 50px;*/
    margin-left: 0;
    font-family: Impact, Charcoal, sans-serif;
    margin-right: -5px;
    &:hover {
      margin-left: 3px;
      margin-right: -8px;
    }
  }
}

.top-header-login {
  background: $orange-color;
  color: white;
  font-size: 1.5em;
  padding-top: 35px;
  text-align: right;
}

.top-header-account {
  background: $orange-color;
  color: white;
  padding-top: 10px;
  text-align: right;
}

.top-header-login a:hover {
  color: white;
}

@media (max-width: 991px) {
  .top-logo {
    padding-bottom: 10px;
    text-align: center;
  }
  .top-header .row > div {
    height: auto;
  }
  #fly-sender-form {
    border: 1px solid white;
    background: $orange-color;
  }
  #fly-account-form {
    background: white;
    top: 50px;
  }
  .top-header-login {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #fly-account-form button[type="submit"] {
    margin-bottom: 15px;
    margin-top: 0;
  }
}

@media (max-width: 500px) {
  .top-menu {
    text-align: center;
  }
}

#fly-sender-form ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    a {
      color: white;
      display: block;
      padding: 8px 10px;
      &:hover {
        background: white;
        color: black;
      }
    }
  }
}

.hello-top {
  font-size: 1.5em;
}

@media (max-width: 1199px) {
  .hello-top {
    margin: 0;
  }
}

.top-header-account a {
  color: white;
  &:hover {
    color: black;
  }
}

.section-main {
  background-image: url(../../images/v2/bg/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*background-attachment: fixed;*/
}

#home-page {
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

.text-arrow {
  font-family: 'Oswald', sans-serif;
}

.section-main-bg {
  background: rgba(255, 255, 255, 0.9);
  position: relative;
}

.section-main-content {
  /*padding: 25px 0;*/
}

#main {
  padding: 15px 0 25px 0;
}

.home-yt-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  iframe, object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.home-yt-containerembed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.section-2 {
  background-image: url(../../images/v2/bg/2.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-2-1 {
  padding: 0 0 25px 0;
  background-color: rgba(152, 171, 177, 0.8);
}

.section-main-sub {
  padding: 0 0 25px 0;
  background-color: rgba(152, 171, 177, 0.9);
  position: relative;
}

#sub-page .section-main-sub {
  h2 {
    border: 0;
    text-indent: 0;
    color: white;
    margin: 17px 0 15px 0;
    text-transform: uppercase;
  }
  a {
    color: white;
    &:hover {
      color: $orange-color;
    }
  }
}

.section-2-1 {
  h2 {
    color: white;
    margin: 17px 0 15px 0;
    text-transform: uppercase;
  }
  a {
    color: white;
    &:hover {
      color: #494949;
    }
  }
}

.section-2-2 {
  padding: 25px 0;
  h2 {
    color: #9aacaf;
    margin: 0 0 5px 0;
    padding: 0;
  }
}

.home-tel {
  font-size: 2em;
  margin: 5px 0 0 0;
  text-indent: 10px;
  .orange {
    color: $orange-color;
  }
}

.home-email {
  font-size: 2em;
  margin: 0 0 5px 0;
  text-indent: 10px;
}

#home-contact-form {
  input[type=text] {
    width: 100%;
    padding: 5px;
    border: 1px solid #9aacaf;
    border-radius: 0;
  }
  textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #9aacaf;
    border-radius: 0;
    resize: none;
    height: 100px;
  }
  button[type=submit] {
    color: $orange-color;
    border: 0;
    background: none;
    font-size: 5em;
    position: absolute;
    right: -55px;
    bottom: 7px;
    font-family: Impact, Charcoal, sans-serif;
    &:hover {
      right: -58px;
    }
  }
}

.section-3 {
  padding: 25px 0;
  background-color: $orange-color;
}

.section-4 {
  padding: 25px 0;
  background-color: #ffffff;
}

.we-do-item {
  display: inline-block;
  h2 {
    color: #9aacaf;
  }
  &:hover {
    background: $orange-color;
    h2 {
      color: white;
    }
  }
  .we-do-content {
    max-width: 227px;
    margin: 0 auto;
    text-align: right;
  }
  h2 {
    padding: 0;
    text-align: left;
    margin: 5px auto;
  }
  p {
    text-align: justify;
    color: #6e6e6e;
    font-weight: 300;
  }
  .we-do-more {
    text-align: right;
    font-weight: normal;
    margin: 0;
  }
}

.section-5 {
  background-image: url(../../images/v2/bg/3.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  text-align: left;
  a:hover {
    color: #494949;
  }
}

/**/

.main-content-shadow.shadow-home {
  background: rgba(255, 255, 255, 0.9);
}

#home-right {
  display: inline-block;
  width: 45%;
}

#home-send {
  display: inline-block;
  width: 402px;
  margin: 240px 0;
  vertical-align: top;
}

#home-send-top {
  width: 100%;
  background: rgba(242, 157, 1, 0.9);
  padding: 45px 0;
  color: white;
  font-size: 1.7em;
  display: inline-block;
}

a#home-send-top:hover {
  background: rgba(242, 157, 1, 1);
  color: white;
}

#home-send-top p {
  &.top {
    text-align: center;
    text-transform: uppercase;
  }
  &.bottom {
    font-size: 5em;
    text-align: center;
    line-height: 15px;
    font-family: Impact, Charcoal, sans-serif;
    img {
      margin: 0 15px;
      width: 103px;
      height: 97px;
    }
  }
}

#home-send-bottom {
  width: 100%;
  background: rgba(242, 157, 1, 0.6);
  a {
    width: 131px;
    display: inline-block;
    height: 100%;
    font-size: 1.2em;
    color: white;
    text-align: center;
    padding: 5px 0;
    &:hover {
      background: rgba(242, 157, 1, 1);
      color: white;
    }
  }
}

#main-tt-block {
  vertical-align: top;
  width: 400px;
  background: rgba(255, 255, 255, 0.7);
  padding: 15px;
  display: inline-block;
  margin-top: 240px;
  margin-bottom: 20px;
  text-align: left;
  h2 {
    margin: 0 0 10px 0;
    font-size: 1.7em;
  }
  input[type=text] {
    line-height: 30px;
    font-size: 1.2em;
    padding: 5px 0;
    height: 50px;
    width: 89%;
    text-align: center;
  }
  button[type=submit] {
    border: 0;
    color: rgba(242, 157, 1, 1);
    font-size: 5em;
    padding: 0;
    line-height: 30px;
    background: none;
    margin-top: -8px;
    margin-right: -6px;
    font-family: Impact, Charcoal, sans-serif;
    &:hover {
      margin-right: -9px;
      margin-left: 3px;
    }
  }
}

#main-pricing-block {
  color: white;
  vertical-align: top;
  width: 400px;
  background: rgba(151, 171, 177, 0.7);
  padding: 15px 15px 15px 15px;
  display: inline-block;
  text-align: left;
  position: relative;
  margin-bottom: 20px;
  height: 180px;
}

.main-pricing-type {
  position: absolute;
  left: 15px;
  top: 10px;
  right: 15px;
  bottom: 10px;
  display: none;
  &.main-pricing-courier {
    display: block;
  }
}

#main-pricing-block-list {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 50;
  a {
    padding: 20px 10px 10px 10px;
    display: inline-block;
    width: 60px;
    text-align: center;
    &:hover, &.active {
      background: rgba(242, 157, 1, 0.9);
    }
    img {
      width: auto;
      height: 30px;
    }
  }
}

#main-pricing-block h2 {
  margin: 0 0 0 0;
  font-size: 1.7em;
}

.main-pricing-subtype {
  margin: 0 0 5px 0;
  padding: 0;
  text-indent: 10px;
}

select {
  &.pricing-postal {
    width: 70px;
    text-align: center;
    color: black;
    &:first-child {
      width: 50px;
    }
    &:nth-child(2) {
      width: 90px;
    }
  }
  &.pricing-hm {
    width: 70px;
    text-align: center;
    color: black;
    height: 40px;
    font-size: 1.3em;
  }
}

#main-pricing-block .pricing-courier-weight {
  width: 40px;
  text-align: center;
  color: black;
  height: 40px;
  font-size: 1.3em;
  margin-right: 25px;
}

.pricing-currency-label {
  position: absolute;
  top: -21px;
  left: 0px;
  color: white;
}

.main-pricing-note {
  position: absolute;
  right: 0;
  top: -22px;
  a {
    color: white;
    cursor: help;
  }
}

#main-pricing-block {
  span {
    display: inline-block;
  }
  .main-pricing-courier .pricing-labels {
    position: relative;
    &:nth-of-type(1) span:nth-of-type(2) {
      position: absolute;
      left: 70px;
    }
    &:nth-of-type(3) span:nth-of-type(2) {
      position: absolute;
      left: 111px;
    }
  }
  .main-pricing-postal .pricing-labels:nth-of-type(1) span {
    &:nth-of-type(2) {
      position: absolute;
      left: 53px;
    }
    &:nth-of-type(3) {
      position: absolute;
      left: 147px;
    }
  }
  .pricing-courier-dim {
    width: 40px;
    text-align: center;
    color: black;
    height: 40px;
    font-size: 1.3em;
  }
  .pricing-country {
    width: 107px;
    text-align: center;
    color: black;
  }
}

.main-pricing-block-price {
  position: absolute;
  text-align: center;
  background: rgba(255, 255, 255, 0.7);
  right: 0;
  bottom: 0;
  color: black;
  /*border: 1px solid black;*/
  width: 131px;
  height: 88px;
  vertical-align: middle;
}

.main-pricing-block-price-amount {
  top: 0;
  left: 0;
  right: 0;
  height: 35px;
  line-height: 35px;
  position: absolute;
  font-size: 1.5em;
  font-weight: bold;
}

.main-pricing-block-price-amount-brutto {
  top: 35px;
  left: 0;
  right: 0;
  height: 22px;
  font-size: 0.9em;
  line-height: 22px;
  position: absolute;
}

.main-pricing-block-price-amount-loading {
  z-index: 60;
  background-color: white;
  background-image: url(../../images/layout/preloader.gif);
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
}

.main-pricing-block-price-go {
  position: absolute;
  bottom: 0;
  height: 30px;
  left: 0;
  right: 0;
  line-height: 30px;
  background: rgba(242, 157, 1, 1);
  cursor: pointer;
  &:hover {
    background: white;
  }
}

.main-pricing-block-contact {
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 131px;
  height: 88px;
  background: rgba(255, 255, 255, 0.7);
  padding: 5px;
  color: black;
  cursor: pointer;
  &:hover {
    background: rgba(255, 255, 255, 1);
  }
  p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  span {
    font-size: 1.5em;
    margin-top: 10px;
  }
}

#home-about-block, #home-contact-block {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  margin-bottom: 20px;
}

#home-departments-block {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
}

#home-join-block {
  margin: 75px 0 200px 0;
  background-color: rgba(242, 157, 1, 0.8);
  padding: 10px 60px 8px 20px;
  position: relative;
  display: block;
  text-align: justify;
}

.join-block-arrow {
  position: absolute;
  right: 15px;
  top: 35%;
  font-size: 4.5em;
  color: white;
  font-weight: bold;
  font-family: Impact, Charcoal, sans-serif;
}

#home-join-block {
  &:hover .join-block-arrow {
    right: 12px;
  }
  h2 {
    color: white;
  }
  p {
    font-weight: 300;
  }
  &:hover {
    background-color: rgba(242, 157, 1, 1);
    p {
      color: rgb(93, 93, 93);
    }
  }
}

@media (max-width: 991px) {
  #home-send, #main-tt-block {
    margin: 15px auto;
  }
  #home-join-block {
    margin: 10px 0;
  }
  .we-do {
    margin-bottom: 10px;
  }
  footer #credits {
    padding-top: 10px;
    text-align: center;
  }
  #home-right {
    width: 100%;
  }
}

@media (max-width: 500px) {
  #home-send {
    width: 100%;
  }
  #home-send-top {
    font-size: 1.3em;
  }
  #main-tt-block {
    width: 100%;
    input[type=text] {
      width: 80%;
    }
  }
}

@media (max-width: 440px) {
  .home-tel, .home-email {
    font-size: 1.4em;
  }
  #main-pricing-block {
    width: 100%;
    max-width: 251px;
    padding-bottom: 120px;
    height: 390px;
    h2 {
      margin-top: 60px;
    }
  }
  .main-pricing-block-price, #main-pricing-block-list {
    left: 0;
  }

  #home-send-top p.bottom {
    font-size: 3em;
  }
}

/**/

.pickup-desc-item {
  margin-top: 15px;
  display: none;
}

/**/

.gridview-container #pageSize {
  width: 80%;
  color: black;
  text-align: center;
}

.grid-view table.items tr.disabled {
  &.odd {
    background: #d0d2d5;
  }
  &.even {
    background: #e4e6e9;
  }
  &.odd.selected {
    background: #d0d2d5;
  }
  &.even.selected {
    background: #e4e6e9;
  }
}

/* PANEL */

.stat-ico-list-with-desc {
  p {
    font-weight: bold;
    font-size: 1.3em;
  }
  margin-bottom: 0;
  font-style: italic;
  color: $orange-color;
  .stat-gray {
    color: #a69f97;
  }
}

.container-fluid-restriction {
  max-width: 1170px;
}

.panel-heading a[rel="tooltip"] {
  color: white;
  cursor: help;
}

/* PANEL */

a:hover .alert {
  border: 1px solid $orange-color;
}

#point-type-list {
  list-style-type: none;
  text-align: right;
}

#modal-rodo ul {
  text-align: left;
}

#model-rodo .modal-content {
  padding: 0 15px;
}

.division-line {
  background: url(../../images/v3/bar_bg.png);
  background-size: 100%;
  background-position: center;
  padding: 60px 0;
  min-height: 1px;
  margin: 0;
  position: relative;
  z-index: 100;
  &.narrow {
    padding: 15px 0;
  }
  &.division-line-overlay {
    z-index: 300;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0.9;
  }
  h2 {
    margin: 0;
    padding: 0;
    color: white;
    text-transform: uppercase;
  }
}

.img-desaturated {
  filter: grayscale(100%) blur(0px);
  &:hover {
    filter: none;
  }
}

.home-info-block {
  width: 50%;
  padding: 25px;
  background: $orange-color;

  color: white;
  //position: absolute;
  bottom: 10%;
  right: 0;
  margin-top: 250px;
  margin-bottom: 50px;
  float: right;
  text-align: justify;
  overflow: visible;
  border: 5px solid $orange-color;

  .info-intro
  {
    cursor: pointer;
  }

  &.info-full {
    width: 100%;
  }

  .info-content {
    display: none;
    //height: 0;
    text-align: left;
    //overflow: hidden;
    //transition: max-height 0.15s ease-out;
  }
  &:hover:not(.full) {

    background: white;
    color: $orange-color;

    //left: 0;
    //top: 15%;
    //right: 0;
    //bottom: 10%;
    //width: 100%;
    //.info-intro
    //{
    //  display: none;
    //}
    //.info-content {
    //  display: block;
    //  height: 100%;
    //  transition: max-height 0.15s ease-out;
    //}
  }
}

@media (max-width: 800px) {
  .home-info-block {
    width: 100%;
  }
}

.orange-block-link {
  width: 100%;
  padding: 15px 10px;
  background: $orange-color;
  color: white;
  text-align: center;
  display: inline-block;
  border: 2px solid $orange-color;
  &:visited {
    width: 100%;
    padding: 15px 10px;
    background: $orange-color;
    color: white;
    text-align: center;
    display: inline-block;
    border: 2px solid $orange-color;
  }
  &:hover {
    background: white;
    color: $orange-color;
  }
}

.footer-business
{
  text-align: right;
}

@media (max-width: 500px) {
  .footer-business
  {
    text-align: center;
  }

  .footer-individual
  {
    text-align: center;
  }

  #section-sp-points img
  {
    display: none;
  }
}