a.logo_ruch
{
    background: url('../images/logo.png');
}

html, body
{
    background: #3bb3c3;
}

.section-main
{
    background-image: url(../images/bg_1.jpg);
}

.section-main-bg
{
    padding-bottom: 150px;
}

.top-header-orange {
    background: lightgray;
}

.top-header-login {
    background: lightgray;
}

#main-tt-block
{
    margin-top: 220px;
}

#home-page
{
    /*margin: 150px auto;*/
}

#bottom-orange
{
    display: none;
}

footer
{
    background-color: #d4d4d4;
    background-image: url(../images/quriers_footer.jpg);
    min-height: 270px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 200px;
}

footer #footer-menu
{
    background: none;
}
