div.form
{
}

div.form input,
div.form textarea,
div.form select
{
	margin: 0.2em 0 0.5em 0;
}

div.form fieldset
{
	border: 1px solid #DDD;
	padding: 10px;
	margin: 0 0 10px 0;
    -moz-border-radius:7px;
}

div.form label
{
	font-weight: bold;
	font-size: 0.9em;
	display: inline-block;
}

div.form .row
{
    /*margin: 5px 0;*/
    /*clear: both;*/
}

div.form .hint
{
	margin: 0;
	padding: 0;
	color: #999;
}

div.form .note, .note
{
	font-style: italic;
    text-align: right;
    font-size: 10px;
}

div.form span.required
{
	color: red;
}

div.form div.error label:first-child,
div.form label.error,
div.form span.error
{
	color: #C00;
}

div.form div.error input,
div.form div.error textarea,
div.form div.error select,
div.form input.error,
div.form textarea.error,
div.form select.error
{
	background: #FEE;
	border-color: #C00;
}

div.form div.success input,
div.form div.success textarea,
div.form div.success select,
div.form input.success,
div.form textarea.success,
div.form select.success
{
	background: #79D866;
	border-color: darkslategray;
}

div.form div.success label
{
	color: inherit;
}

div.form .errorSummary
{
	border: 2px solid #C00;
	padding: 7px 7px 12px 7px;
	margin: 0 0 20px 0;
	background: #FEE;
	font-size: 0.9em;
}

div.form .errorMessage
{
	color: red;
	font-size: 0.9em;
}

div.form .errorSummary p
{
	margin: 0;
	padding: 5px;
}

div.form .errorSummary ul
{
	margin: 0;
	padding: 0 0 0 20px;
}

div.wide.form label
{
	float: left;
	margin-right: 10px;
	position: relative;
	text-align: right;
	width: 100px;
}

div.wide.form .row
{
	clear: left;
}

div.wide.form .buttons, div.wide.form .hint, div.wide.form .errorMessage
{
	clear: left;
	padding-left: 110px;
}


table.list
{
   border: 1px solid black;

}

table.hLeft tr td:first-child
{
    background: #2F9DC9 !important;
    font-style: italic !important;
}


table.hTop tr:first-child
{
    background: #2F9DC9 !important;
    font-style: italic !important;
}

table.list tr:nth-child(even)
{
    background: #F8F8F8;
}

table.list tr:nth-child(odd)
{
    background: #E5F1F4;
}

div#main input[type=submit]:not(.btn), div#main input[type=button]:not(.btn)
{
    border: 1px solid #d4350c;
    background: #F7931E;
    padding: 2px 15px;
    cursor: pointer;
    color: white;
    margin-right: 5px;
}

div#main input[type=submit]:hover, div#main input[type=button]:hover
{
    /*background: #d4350c;*/
}

div#main input[type=text], div#main input[type=password], div#main textarea, div#main select
{
    /*background: #F7931E;*/
    /*color: white;*/
    padding: 2px;
    /*border: 1px solid #d4350c;*/
}

div#main input[type=text]:focus, div#main input[type=password]:focus, div#main textarea:focus, div#main select:focus
{
    /*background: #d4350c;*/
    /*border: 1px solid #F7931E;*/
}

div#main label
{
    width: 33%;
    text-align: right;
}

div#main label
{
    width: 33%;
    text-align: right;
}

div.form .errorMessage
{
    display: block;
    float: right;
    width: 40%;
}

div.form .errorNextLine .errorMessage
{
    display: block;
    float: none;
    width: 100%;
}

div.form select, input
{
    margin-right: 5px;
}

div.navigate
{
    width: 100%;
    border-top: 1px solid #F7931E;
    margin: 25px 0 0 0;
    text-align: center;
    padding: 15px 0 0 0;
}

div.form h2
{
    border-left: 10px solid #F7931E;
    border-bottom: 1px solid #F7931E;
    text-indent: 10px;
    padding-bottom: 10px;
    margin-bottom: 25px;
}

div.separator
{
    clear: both;
    border-bottom: 1px solid #F7931E;
    width: 200px;
    margin: 0 auto 10px 213px;
}

div.wysiwyg
{
    width: 100%;
    margin: 5px 0 15px 0;
}

div.wysiwyg div
{
    margin: 0 auto;
}

table.list
{
    font-size: 12px;
    border: 1px solid white;
}

table.list td
{
    padding: 2px 7px;
}

table.list:not(.list-special) label
{
    width: auto !important;
}

table.hLeft tr td:first-child
{
    background: #f29d01 !important;
    width: 40%;
    text-align: right;
    border-right: 1px solid white;
    font-weight: bold !important;
}


table.hTop tr:first-child
{
    background: #f29d01 !important;
    font-weight: bold !important;
    border: 1px solid white;
}

table.list tr:nth-child(even)
{
    background: #ffe8a4;
}

table.list tr:nth-child(odd)
{
    background: #ffd26b;
}

div.form div.info
{
    margin-top: 10px;
    border-left: 10px solid #F7931E;
    border-bottom: 1px solid #F7931E;
    padding-left: 10px;
    color: darkslategray;
    padding-bottom: 5px;
}

div.form div.info p
{
    margin: 0;
}

span.required
{
    color: red;
}

.inline-form label
{
    display: inline-block;
    width: 250px;
    margin-bottom: 0;
}

div.form .row
{
    /*margin: 0;*/
    /*line-height: 14px;*/
}