.no-space [class*="span"]:not([class*="offset"]) {
    margin-left: 0 !important;
}

html, body
{
    font-family: Tahoma, Arial, sans-serif;
    background: #9aacaf;
    color: #494949;
}

a, a:visited
{
    color: #494949;
}

a:hover
{
    color: #f29d01;
    text-decoration: none;
}

/* HEADER */

a#logo
{
    display: block;
    width: 225px;
    height: 60px;
}

a.logo_en
{
    background: url('../../images/layout/new/logo_en.png');
}

a.logo_uk
{
    background: url('../../images/layout/new/logo_uk.png');
}

a.logo_pl
{
    background: url('../../images/layout/new/logo.png');
}

a#join-us
{
    display: block;
    background: url('../../images/layout/new/join-us.png');
    width: 83px;
    height: 74px;
    position: absolute;
    right: 0;
    bottom: -80px;
    z-index: 10;
    padding: 25px 10px 0 10px;
    text-align: center;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 2px #000000;
    font-size: 1.1em;
    background-size: contain;
    box-sizing: content-box;
}

a#join-us:hover
{
    width: 93px;
    height: 79px;
    background-size: contain;
    right: -5px;
    bottom: -85px;
    padding-top: 30px;
}

a#ooe-link
{
    display: block;
    background: url('../../images/layout/new/ooe-link.png');
    width: 160px;
    height: 70px;
    position: absolute;
    right: 120px;
    bottom: -80px;
    z-index: 10;
    color: #000265;

}

a#ooe-link div
{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 10px;
    position: absolute;
    left: 85px;
    bottom: 1px;
}

a#ooe-link:hover
{
    color: #f29d01;
}

/*#api-text*/
/*{*/
/*position: absolute;*/
/*left: 20px;*/
/*bottom: -50px;*/
/*z-index: 10;*/
/*color: white;*/
/*text-transform: uppercase;*/
/*font-size: 24px;*/
/*font-family: "DINPro-CondBold", Tahoma, Arial, sans-serif;*/
/*line-height: 20px;*/
/*}*/

/*#api-text span:first-child*/
/*{*/
/*color: #0a0c6e;*/
/*}*/

/*#api-text span:last-child*/
/*{*/
/*color: #c40303;*/
/*font-size: 18px;*/
/*padding-left: 50px;*/
/*}*/

header
{
    min-height: 76px;
    width: 100%;
    background: #f29d01;
    padding-top: 30px;
}

header .container
{
    position: relative;
}


/*.above-top-menu*/
/*{*/
/*margin-top: -10px;*/
/*font-size: 16px;*/
/*font-weight: bold;*/
/*color: white;*/
/*vertical-align: bottom;*/
/*font-family: "DINPro-CondBold", Tahoma, Arial, sans-serif;*/
/*}*/

#tel-widget
{
    line-height: 25px;
    font-size: 20px;
}

@media (max-width: 992px)  {
    a#logo
    {
        margin-bottom: -30px;
    }

    header {
        padding-top: 15px;
    }

    #tel-widget
    {
        right: 0;
        width: 375px;
        margin-left: 250px;
    }
}

@media (max-width: 768px)  {
    a#logo
    {
        margin-bottom: 0;
    }

    #tel-widget
    {
        margin-top: 25px;
        margin-bottom: -25px;
        margin-left: 10px;
        width: auto;
    }

    footer #footer-menu
    {
        text-align: center;
    }
}

#tel-widget a, #tel-widget a:visited
{
    color: white;
}

#tel-widget a:hover
{
    color: black;
}

#lang-menu
{
    position: absolute;
    top: 0;
    right: 0;
}

#lang-menu a, #lang-menu span
{
    text-transform: uppercase;
    display: inline-block;
    color: #f29d01;
    width: 40px;
    height: 25px;
    border: 0;
    text-align: center;
    line-height: 23px;
}

#lang-menu span
{
    background: #f29d01;;
    font-weight: bold;
    color: white;
    margin: 0;
}

#lang-menu a:hover
{
    background: #f29d01;;
    color: white;
    text-decoration: none;
}

#header-login-button
{
    background: url('../../images/layout/new/login-ico.png') no-repeat left;
    width: 28px;
    height: 20px;
    border: 0;
    /*margin-top: 4px;*/
}

#header-login-button:hover
{
    background: url('../../images/layout/new/login-ico.png') no-repeat right;
}

.navbar .nav > li.divider-vertical
{
    margin: 0;
    height: 21px;
    margin-top: 10px;
}

/* MAIN-CONTENT */

#main-content-bg-container
{
    position: relative;
}

.main-content-bg
{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

#main-content
{

    /*background-size: 100% auto; */
    height: 100%;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 5;
}

.main-content-shadow
{
    background: url('../../images/layout/new/bg-shadow.png') top center;
    background-repeat: repeat;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 100px;
    position: relative;
}

.main-content-shadow.shadow-home
{
    background: url('../../images/layout/new/bg-shadow-home.png') top center;
    background-repeat: repeat-y;
}

/* HOME PAGE */

#home-page
{
    /*text-align: center;*/
    /*font-family: "DINPro-CondBold", Tahoma, Arial, sans-serif;*/
    /*margin: 50px auto;*/
}

/*#home-page a, #home-page a:visited*/
/*{*/
/*color: #494949;*/
/*}*/

/*#home-page a:hover*/
/*{*/
/*color: #f29d01;*/
/*}*/

#home-page h2
{
    /*color: #9aacaf;*/
    /*margin: 5px 0;*/
    /*padding: 0;*/
    /*text-indent: -20px;*/
    /*padding-bottom: 30px;*/
}

.home-central-row
{
    text-align: center;
    margin: 0 auto;
    padding: 0 35px;
}

.home-central-row:first-child
{
    margin-bottom: -5px;
}

.home-central-item
{
    position: relative;
}

/*#home-page a*/
/*{*/
/*display: inline-block;*/
/*width: 161px;*/
/*height: 161px;*/
/*margin: 0;*/
/*padding: 0;*/
/*position: relative;*/
/*}*/

/*#home-page a:last-child*/
/*{*/
/*margin-left: -4px;*/
/*}*/

#home-page a h3
{
    position: absolute;
    width: 75px;
    line-height: 23px;
}

.sprite-home-central {
    background: url('../../images/layout/new/sprite-home-central.png') no-repeat top left;
    width: 161px;
    height: 161px;
}

#home-central-courier
{
    background-position: 0 -686px;
}

#home-central-courier:hover
{
    background-position: 0 -858px;
    /*background: url('../../images/layout/new/home-mega-courier-on.png') bottom right;*/
}

#home-central-courier h3
{
    top: 30px;
    left: -35px;
}

#home-central-im
{
    background-position: 0 0;
}

#home-central-im:hover
{
    background-position: 0 -172px;
}

#home-central-im h3
{
    top: 30px;
    right: -35px;
    text-align: right;
}

#home-central-palette
{
    background-position: 0 -344px;
}

#home-central-palette:hover
{
    background-position: 0 -515px;
}

#home-central-palette h3
{
    bottom: 30px;
    left: -35px;
}

#home-central-hm
{
    background-position: 0 -1030px;
}

#home-central-hm:hover
{
    background-position: 0 -1201px;
}

#home-central-hm h3
{
    bottom: 30px;
    right: -35px;
    text-align: right;
}

/* BOTTOM ORANGE */

#bottom-orange
{
    background: url('../../images/layout/new/orange-transparent-bg.png');
    width: 100%;
    padding: 25px 0;
    color: white;
}

#bottom-orange a, #bottom-orange a:visited
{
    color: white;
}

#bottom-orange a:hover
{
    text-decoration: none;
    font-weight: bold;
}

#bottom-menu a span
{
    display: block;
}

#bottom-orange-logos
{
    margin-top: 20px;
    margin-bottom: 20px;
}

/* FOOTER */

footer .container
{
    /*padding: 15px 0;*/
}

footer
{
    color: white;
}

footer a, footer a:visited
{
    color: white;
}

footer a:hover
{
    color: #f29d01;
}

footer
{
    background-image: url('../../images/v3/bar_bg.png');
    background-size: contain;
}

footer ul
{
    list-style-type: none;
    padding: 10px 0 0 0;
    margin: 0;
}

footer ul li:first-child
{
    font-weight: bold;
    padding-bottom: 5px;
}

footer #credits
{
    text-align: center;
    font-size: 10px;
    margin: 0 0 15px 0;
}

/* MISC */

.hiddenFormElement input
{
    display: none;
}

span.bold
{
    font-weight: bold;
}

.clear
{
    clear: both;
}


.btn_working
{
    background: gray !important;
    border: 2px solid gray !important;
    cursor: wait !important;
}

div.overlay
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../../images/layout/mainBg.png');
    z-index: 999;
}

div.overlay .loader
{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../../images/layout/preloader.gif') no-repeat center center;
}

div.overlay .loader-text-top
{
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 35%;
    font-weight: bold;
    display: none;
}

div.overlay .loader-text-bottom
{
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 35%;
    font-weight: bold;
    display: none;
}

/*#sub-page h2*/
/*{*/
/*border-left: 10px solid #F7931E;*/
/*border-bottom: 1px solid #F7931E;*/
/*text-indent: 10px;*/
/*padding-bottom: 10px;*/
/*margin-bottom: 25px;*/
/*font-family: "DINPro-CondBold", Tahoma, Arial, sans-serif;*/
/*}*/

h2.simple
{
    border: 0;
    text-indent: 0;
    padding: 0;
    margin: 0;
}

div.info
{
    margin-top: 10px;
    border-left: 10px solid #F7931E;
    border-bottom: 1px solid #F7931E;
    color: darkslategray;
    padding-bottom: 5px;
    padding-left: 10px;
}

div.info p
{
    margin: 0;
}


tr.filters td
{
    padding: 5px !important;
}

tr.filters td input
{
    padding: 2px 0 !important;
    margin: 0 !important;
}

a.likeButton, a.likeButton:visited
{
    display: inline-block;
    border: 1px solid #d4350c;
    padding: 5px;
    margin: 5px 0;
    background: #F7931E;
    text-decoration: none;
    color: white;
}

a.likeButton:hover
{
    background: #d4350c;
    text-decoration: none;
}

div#goBack
{
    margin: 15px auto 5px auto;
    text-align: center;
    clear: both;
}

.price-button-container
{
    display: table;
    margin: 10px auto;

}

a.price-button
{
    background: url('../../images/layout/price-download-button.png') no-repeat;
    width: 162px;
    height: 50px;
    padding: 10px 1px 0 62px;
    display: block;
    text-decoration: none;
    color: white;
    margin: 10px auto;
    text-align: center;
    box-sizing: content-box;
}

a.price-button:hover
{
    background: url('../../images/layout/price-download-button-on.png') no-repeat;
    color: black;
}

ul#price-list
{
    list-style-type: none;
}

ul#price-list a
{
    display: block;
    width: 475px;
    padding-left: 100px;
    height: 54px;
    line-height: 54px;
    margin-bottom: 10px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

ul#price-list a:hover
{
    color: black;
}

ul#price-list li.local a
{
    background: url('../../images/layout/price_list_bg_local.png');
    background-repeat: no-repeat;
}

ul#price-list li.alternative a
{
    background: url('../../images/layout/price_list_bg_alternative.png');
    background-repeat: no-repeat;
}

ul#price-list li.courier a
{
    background: url('../../images/layout/price_list_bg_courier.png');
    background-repeat: no-repeat;
}

ul#price-list li.hm a
{
    background: url('../../images/layout/price_list_bg_hm.png');
    background-repeat: no-repeat;
}

ul#price-list li.palette a
{
    background: url('../../images/layout/price_list_bg_palette.png');
    background-repeat: no-repeat;
}

#price-calc
{
    border: 1px solid #f29d01;
    padding: 5px 25px;
}

/* SYSTEM CUSTOMIZE */

.grid-view table.items th
{
    background-color: #f29d01;
    background-image: -moz-linear-gradient(top, #f8a301, #ec9701);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f8a301), to(#ec9701));
    background-image: -webkit-linear-gradient(top, #f8a301, #ec9701);
    background-image: -o-linear-gradient(top, #f8a301, #ec9701);
    background-image: linear-gradient(to bottom, #f8a301, #ec9701);
}

.grid-view table.items tr.selected
{

}

.grid-view table.items tr.even
{
    background: #ffe8a4;
}

.grid-view table.items tr.odd
{
    background: #ffd26b;
}

.grid-view table.items tr.selected
{
    background: #f29d01;
}

.grid-view table.items tr:hover.selected
{
    background: #ff9600;
}

.grid-view table.items tbody tr:hover
{
    background: #ffae01;
}

table.detail-view tr.even
{
    background: #ffe8a4;
}

table.detail-view tr.odd
{
    background: #ffd26b;
}

div.flash-error {
    background-color: #F2DEDE;
    color: #B94A48;
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    border: 1px solid #EED3D7;
}


a.btn-primary, a.btn-primary:visited
{
    color: white;
}

/* FROM PREV */

#right-flayer
{
    position: absolute;
    right: 0;
    top: 300px;
    z-index: 30;
}

#hbm_fb
{
    display: block;
    width: 40px;
    height: 51px;
    margin-bottom: 8px;
    position: relative;
    background: url('../../images/layout/new/fb.png');
}

#hbm_fb:hover
{
    border-right: 5px solid #f29d01;
    margin-left: -5px;
    box-sizing: content-box;
}

#hbm_tt
{
    display: block;
    width: 40px;
    height: 120px;
    margin-bottom: 8px;
    position: relative;
    background: url('../../images/layout/new/sticky_tt.png');
}

#hbm_tt:hover
{
    border-right: 5px solid #f29d01;
    margin-left: -5px;
    box-sizing: content-box;
}

/* DOMESTIC */


.domestic-additions
{
    position: relative;
}

.domestic-additions div.da-overlay
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../../images/layout/mainBg.png');
}

.da-overlay .da-loader
{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../../images/layout/preloader.gif') no-repeat center center;
}

#domestic-form .help-inline, #domestic-form .help-block
{
    display: block;
}

#domestic-form .help-inline::before, #domestic-form .help-block::before
{
    content: '';
}

#courier-internal-form .help-inline, #courier-internal-form .help-block
{
    display: block;
}

#courier-internal-form .help-inline::before, #courier-internal-form .help-block::before
{
    content: '';
}

#postal-form .help-inline, #postal-form .help-block
{
    display: block;
}

#postal-form-form .help-inline::before, #postal-form .help-block::before
{
    content: '';
}

#courier-ooe-form .help-inline, #courier-ooe-form .help-block
{
    display: block;
}

#courier-ooe-form .help-inline::before, #courier-ooe-form .help-block::before
{
    content: '';
}


.data-edit-row > td
{
    padding: 10px;
}

tr.row-errored
{
    background: #b71000 !important;
}

td.td-with-error
{
    background: red;
    cursor: help;
}

tr.row-warned
{
    background: #ff7200 !important;
}

td.td-with-warning
{
    background: yellow;
    cursor: help;
}


/* ADDITIONS */

.domestic-additions-content .addition_item label
{
    width: 100% !important;
}

.addition_item p
{
    margin: 0;
    padding: 0;
}

.itemLoading
{
    background-size: auto 100% !important;
    background-repeat: no-repeat !important;
    background-position: left center !important;
    padding-left: 35px !important;
    background-image: url('../../images/layout/preloader.gif') !important;
    cursor: progress !important;
    background-color: #F7931E !important;
    color: white !important;
}

.itemLoading:hover
{
    background-color: #F7931E !important;
    color: white !important;
}




/* EBAY FORM */

#ebay-form .help-inline, #ebay-form .help-block
{
    display: block;
}

#ebay-form .help-inline::before, #ebay-form .help-block::before
{
    content: '';
}


/* WhRelationalColumn */

.gridview-dont-hover
{
    background: white !important;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.gridview-dont-hover:hover, .gridview-dont-hover *:not(th):hover
{
    background: white !important;
}

.gridview-show-more
{
    display: inline-block;
    cursor: pointer;
    width: 100%;
    text-align: center;
}


/* GRIDVIEW */

.grid-view .button-column-fix
{
    width: auto;
}

.grid-view td
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.grid-view ul.yiiPager .first, ul.yiiPager .last
{
    display: inline;
}

.gv-courier a
{
    font-weight: bold;
}

.gv-courier-in-progress a
{
    font-weight: bold;
    color: dodgerblue;
}

.gv-courier-finished a
{
    font-weight: bold;
    color: green;
}

.gv-courier-cancelled a
{
    font-weight: bold;
    color: darkviolet;
}

.gv-courier-problem a
{
    font-weight: bold;
    color: darkred;
}

.gv-courier-just-created a
{
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: red;
    cursor: alias;
}

.gv-courier-new a
{
    font-weight: bold;
    color: black;
}

.grid-view .pager
{
    text-align: center;
    padding-top: 5px
}

ul.yiiPager a:link, ul.yiiPager a:visited
{
    padding: 7px 16px;
}

ul.yiiPager a:link {
    border: 1px solid #f29d01;
    color: black;
}

ul.yiiPager a:hover
{
    border: 1px solid #f29d01;
    color: white;
    background: #f29d01;
}

ul.yiiPager .selected a
{
    border: 1px solid #f29d01;
    color: white;
    background: #f29d01;
    font-weight:bold;
}

.gridview-show-details td
{
    overflow: visible;
    text-overflow: clip;

    white-space: normal;
}

ul.yiiPager .first
{
    display: inline-block;
}

/* SORTABLE */

#sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#sortable li {
    margin: 0 5px 3px 5px;
    padding: 2px;
    cursor: move;
    text-align: center;
    color: black;
}

#sortable li:hover
{
    background: #f29d01;
}

.ui-state-highlight
{
    height: 3em;
    line-height: 1.2em;
}

/* RESPONSIVE FIX */

@media (max-width: 1200px) {
    .navbar .nav > li.divider-vertical
    {
        margin: 10px 2px 0 2px !important;
    }

    .navbar-form-container
    {
        margin-right: -25px;
    }

    .navbar-nav
    {
        margin-left: -25px;
    }
}


@media (max-width: 992px) {
    .navbar .nav > li.divider-vertical
    {
        margin: 10px 5px 0 5px !important;
    }

    .main-content-shadow
    {
        padding-bottom: 10px;
    }
}

#contact-form input, #contact-form textarea
{
    width: 100%;
}

#contact-form textarea
{
    resize: none;
}

[data-notify="progressbar"] {
    margin-bottom: 0px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 5px;
}

/*#pakersi-logo, #pakersi-logo:hover*/
/*{*/
/*position: absolute;*/
/*right: 10px;*/
/*bottom: -140px;*/
/*background: url('../../images/layout/new/pakersi.png');*/
/*background-size: 100px auto;*/
/*background-repeat: no-repeat;*/
/*background-position: bottom right;*/
/*width: 175px;*/
/*height: 120px;*/
/*z-index: 100;*/
/*font-family: "DINPro-CondBold",Tahoma,Arial,sans-serif;*/
/*font-size: 1.3em;*/
/*color: black;*/
/*text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;*/
/*text-decoration: none;*/
/*}*/

/*#pakersi-logo.pakersi-guest*/
/*{*/
/*bottom: -210px;*/
/*}*/

/*#yps-logo, #yps-logo:hover*/
/*{*/
/*position: absolute;*/
/*right: 10px;*/
/*bottom: -80px;*/
/*background: url('../../images/layout/new/YPS-Logo.png');*/
/*background-size: 200px auto;*/
/*background-repeat: no-repeat;*/
/*background-position: bottom right;*/
/*width: 200px;*/
/*height: 45px;*/
/*z-index: 100;*/
/*padding-left: 40px;*/
/*font-family: "DINPro-CondBold",Tahoma,Arial,sans-serif;*/
/*font-size: 1.3em;*/
/*color: black;*/
/*text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;*/
/*text-decoration: none;*/
/*}*/

/*#yps-logo.yps-guest*/
/*{*/
/*bottom: -140px;*/
/*}*/

.internal-form-price
{
    padding: 10px;
    font-size: 1.1em;
    font-weight: bold;
}

.internal-form-price-total
{
    font-size: 1.4em;
}

.postal-form-price
{
    font-size: 1.4em;
    padding: 10px;
    font-weight: bold;
}

div.form .postal-bulk-item .errorMessage
{
    width: 100%;
    text-align: center;
}

.postal-bulk-form input, .postal-bulk-form select, .postal-bulk-form input[type="number"]
{
    width: 100%;
}

.postal-import-form input, .postal-import-form select, .postal-import-form input[type="number"]
{
    width: 100%;
}

/* STAT LIST */

.stat-ico-list
{
    margin-bottom: 25px;
}

.stat-item-ico-container
{
    width: 120px;
    height: 114px;
    background-image: url('../../images/stats/sp_stat_bg.png');
    display: inline-block;
    position: relative;
    color: #d9dadb;
    margin-right: -22px;
}

.stat-item-ico-container:last-child
{
    margin-right: 0;
}

.stat-item-ico-container.active
{
    background-image: url('../../images/stats/sp_stat_bg_on.png');
    color: #fff;
}

.stat-item-ico
{
    width: 80px;
    height: 50px;
    position: absolute;
    left: 23px;
    top: 20px;
}

.stat-item-text
{
    position: absolute;
    bottom: 5px;
    left: 10px;
    right: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
    vertical-align: bottom;
    line-height: 13px;
}

.stat-ico-accepted
{
    background-image: url('../../images/stats/ico_accepted.png');
}

.stat-item-ico-container.active .stat-ico-accepted
{
    background-image: url('../../images/stats/ico_accepted_on.png');
}

.stat-ico-transportation
{
    background-image: url('../../images/stats/ico_transportation.png');
}

.stat-item-ico-container.active .stat-ico-transportation
{
    background-image: url('../../images/stats/ico_transportation_on.png');
}

.stat-ico-return
{
    background-image: url('../../images/stats/ico_return.png');
}

.stat-item-ico-container.active .stat-ico-return
{
    background-image: url('../../images/stats/ico_return_on.png');
}

.stat-ico-problem
{
    background-image: url('../../images/stats/ico_problem.png');
}

.stat-item-ico-container.active .stat-ico-problem
{
    background-image: url('../../images/stats/ico_problem_on.png');
}

.stat-ico-hub
{
    background-image: url('../../images/stats/ico_hub.png');
}

.stat-item-ico-container.active .stat-ico-hub
{
    background-image: url('../../images/stats/ico_hub_on.png');
}

.stat-ico-new
{
    background-image: url('../../images/stats/ico_new.png');
}

.stat-item-ico-container.active .stat-ico-new
{
    background-image: url('../../images/stats/ico_new_on.png');
}

.stat-ico-delivery
{
    background-image: url('../../images/stats/ico_delivery.png');
}

.stat-item-ico-container.active .stat-ico-delivery
{
    background-image: url('../../images/stats/ico_delivery_on.png');
}

.stat-ico-delivered
{
    background-image: url('../../images/stats/ico_delivered.png');
}

.stat-item-ico-container.active .stat-ico-delivered
{
    background-image: url('../../images/stats/ico_delivered_on.png');
}

.stat-ico-cancelled
{
    background-image: url('../../images/stats/ico_cancelled.png');
}

.stat-item-ico-container.active .stat-ico-cancelled
{
    background-image: url('../../images/stats/ico_cancelled_on.png');
}

/* STAT LIST */


/* COURIER U OPERATOR */



#operators-conainer .help-block::before
{
    content: "";
}


.courier-u-operators-selector-form
{
    text-align: center;
    display: inline-block;
    position: relative;
}

.courier-u-operators-selector-form label
{
    vertical-align: top;
    width: 180px !important;
    height: 150px;
    text-align: center !important;
    cursor: pointer;
    position: relative;
    margin: 5px;
}

.courier-u-operators-selector-form label.not-available
{

}

.courier-u-operators-selector-form label input
{
    visibility: hidden;
    position: absolute;
}

.courier-u-operators-selector-form label .operator-content-div
{
    border: 4px solid transparent;
    /*margin: 2px;*/
    transition: all .2s ease-in-out;
    height: 150px;
    color: white;
    border-radius: 15px;
    position: relative;
}

.operator-u-name
{
    text-transform: uppercase;
    font-family: Oswald, sans-serif;
    padding-top: 15px;
    font-weight: bold;
    font-size: 1.2em;
}

.courier-u-operators-selector-form label.smaller
{
    height: 55px;
}

.courier-u-operators-selector-form label.smaller .operator-content-div
{
    height: 55px;
}

.courier-u-operators-selector-form label.smaller .operator-u-name
{
    padding-top: 5px;
}

.courier-u-operators-selector-form label input:checked + div
{

    border: 4px solid orange;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
}

.courier-u-operators-selector-form label:hover:not(.not-available) input:not(:checked) + div
{
    border: 4px solid orange;
    /*background: rgba(256,165,0,0.5);*/
}



.courier-u-operators-selector-form .operator-image-logo
{
    transition: all .2s ease-in-out;
    height: 40px;
    max-width: 150px;
    margin-bottom: 15px;
    margin-top: 2px;
}

.courier-u-operators-selector-form label input:checked + div .operator-image-logo
{
    /*height: 55px;*/
    /*margin-bottom: 0;*/
}

.courier-u-operators-selector-form label p.name
{
    font-size: 1em;
    font-weight: bold;
}

.courier-u-operators-selector-form label p.netto
{
    font-size: 0.9em;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.courier-u-operators-selector-form label p.netto span
{
    font-size: 1.1em;
}

.courier-u-operators-selector-form label p.brutto
{
    margin: 0;
    padding: 0;
}

.courier-u-operators-selector-form label p.brutto span
{
    font-size: 1.1em;
}

.courier-u-operators-selector-form label p.time
{
    font-size: 0.9em;
}

.not-available-wrapper
{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(91, 91, 91, 0.5);
    z-index: 200;
    cursor: help;
    border-radius: 15px;
}

.not-available-wrapper span
{

    display: none;
}

.not-available-wrapper:hover
{
    background: rgba(91, 91, 91, 0.9);
}

.not-available-wrapper:hover span
{
    display: block;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
}

#u-form .addition_item
{
    /*border: 1px solid gray;*/
    padding: 7px 0;
    border-radius: 15px;
    position: relative;
    margin-bottom: 10px;
    vertical-align: top;
    display: table;
    width: 100%;
}


#u-form .addition_item .addition_item_col
{
    display: table-cell;
    vertical-align: top;
}

#u-form .addition_item .addition_item_col.item_col_img
{
    width: 450px;
    overflow: hidden;
    height: 50px;
}

#u-form .addition_item .addition_item_col.item_col_img .img-html
{

    height: 40px;
    width: 40px;
    margin: 1px;
    float: left;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    /*font-weight: bold;*/
    font-size: 0.7em;
}

/*#u-form .addition_item .addition_item_col.item_col_img .img-html:hover*/
/*{*/
    /*transition: all .1s;*/
    /*width: 100px;*/
    /*height: 100px;*/

/*}*/

#u-form .addition_item .addition_item_col.item_col_price
{
    width: 180px;
    text-align: right;
    padding-right: 10px;
}

#u-form .addition_item .addition_item_col.item_col_checkbox
{
    width: 125px;
    text-align: center;
}

#u-form .addition_item .addition_item_col.item_col_desc
{

}

#u-form .addition_item .not-available-addition-wrapper
{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(91, 91, 91, 0.5);
    z-index: 200;
    text-align: center;
    cursor: not-allowed;
}

#u-form .addition_item.not_available .not-available-addition-wrapper
{
    display: block;
}


.not-available-addition-wrapper span
{
    visibility: hidden;
}

.not-available-addition-wrapper:hover
{
    background: rgba(91, 91, 91, 0.9);
}

.not-available-addition-wrapper:hover span
{
    visibility: visible;
    position: absolute;
    bottom: 20px;
    left: 10px;
    right: 10px;
    text-align: center;
}

#u-form .addition_item table
{
    table-layout:fixed;
    width: 100%;
}

#u-form .addition_item td
{
    vertical-align: top;
    padding: 10px 10px;
}

#u-form .addition_item td:nth-child(1)
{

    width: 150px;
}

#u-form .addition_item td:nth-child(2)
{
    width: 150px;
}

#u-form .addition_item td:nth-child(3)
{
    width: 100px;
}

#u-form .addition_item h4
{
    margin-top: 0;
}

#u-form .addition_item label
{
    width: auto;
}

#u-form .addition_item.cod label
{
    width: 200px;
}

#u-form .addition_item .cod-details
{
    padding-top: 5px;
}

#u-form .courier-u-additions-toggle
{
    padding-bottom: 10px;
}

.plugin-item
{
    display: inline-block;
    text-align: center;
    font-weight: bold;
}

.plugin-item-content
{
    margin: 10px 5px;
    border: 1px solid orange;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
    background: white;
}

.plugin-item:hover .plugin-item-content
{
    background: orange;
    color: white;
}

.plugin-item img
{
    margin: 5px auto;
    height: 100px;
}

.errors-not-inline .help-block::before
{
    content: "";
}

.addressDataSwitch
{
    display: none;
    position: absolute;
    left: 50%;
    top: 25%;
    font-size: 3em;
    width: 50px;
    margin-left: -25px;
    text-align: center;
    z-index: 50;
    border: 1px solid orange;
    border-radius: 25%;
    background: white;
    cursor: pointer;
}

.addressDataSwitch:hover
{
    background: orange;
}

@media (max-width: 767px) {

    .addressDataSwitch
    {
        top: 50%;
        height: 60px;
        margin-top: -30px;
    }

}

.text-center .input-group
{
    margin: 0 auto;
}


.gv_footer
{
    font-weight: bold;
    text-align: right;
    background-color: #f5f5f5;
    pointer-events:none;
    border-top: 2px dashed gray;
}
