.tv {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  min-height: 200px;
  overflow: hidden;
}

.screen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  margin: auto;
  opacity: 0;
  transition: opacity .5s;
}

.active {
  opacity: 1;
}

#tv-muter-wrapper {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  height: 150px;
  text-align: center;
  z-index: 10;
}

#tv-muter {
  i {
    display: none;
  }
  background: #E89A27;
  opacity: 0;
  cursor: pointer;
  text-align: center;
  border-radius: 10px;
  width: 250px;
  height: 210px;
  line-height: 250px;
  display: inline-block;
  &.mute {
    opacity: 0.9;
    .fa-volume-off {
      display: inline-block;
    }
  }
  &:not(.mute) .fa-volume-up {
    display: inline-block;
  }
  &:hover {
    opacity: 0.9;
  }
}

@media (max-width: 440px) {
  #tv-muter {
    width: 150px;
    height: 110px;
    line-height: 150px;
  }

  #home-return-details
  {
    display: none;
  }

}


#bg_video {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 100%;
  bottom: 0;
  /*top: 0;*/
  object-fit: fill;
  /*top: 50%;*/
  /*transform: translateY(-50%);*/
  z-index: 5;
}

#additional_services_list
{
  position: relative;
  font-weight: bold;
  font-size: 1.5vh;
  text-transform: uppercase;
  color: black;
  letter-spacing: -0.1em;
  display: inline-block;
  overflow: hidden;
}

#additional_services_list div
{
  position: absolute;
}

@media (max-width: 440px) {

  #additional_services_list
  {
    font-size: 1em;
    letter-spacing: inherit;
    overflow: auto;
  }

  #additional_services_list img
  {
    display: none;
  }

  #additional_services_list div
  {
    position: relative;
    left: 0 !important;
    top: auto !important;
    display: block;
    text-align: left;
    border-bottom: 1px solid gray;
  }


}