.drop_zone {
    border: 2px dashed #bbb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    color: #bbb;
    background: transparent;
}

.drop_zone:hover {
    cursor: pointer;
    background: lightgreen;
}

.drop_zone .dz_drop
{
    display: none;
    font-size: 1.5em;
}

.drop_zone .dz_waiting
{
    display: block;
    font-size: 1.5em;
}

.drop_zone.active {
    background: green;
}

.drop_zone.active .dz_drop {
    display: block;
}

.drop_zone.active .dz_waiting {
    display: none;
}

#image-preview
{
    border: 1px solid black;
    width: 400px;
    height: 400px;
}


.img-holder
{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    position: relative;
    display: inline-block;
}

.img-holder:hover .img-holder-delete
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    background-image: url(../../img/delete-icon.png);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
