html {
    height: 100%;
}

body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url('../../images/layout/bg.jpg');
    background-size: 100% 100%;
    background-color: #0c90dc;
    background-attachment: fixed;
}

table
{
	background-color: white !important;
}

#column1SideMenu
{
    float: right;
    width: 200px;
    margin-left: 10px;
}

.grid-view
{
    clear: both;
}

.center
{
    text-align: center !important;
}

fieldset
{
    border: 1px solid orange;
    padding: 5px;
    margin: 5px 0;
}

fieldset legend
{
   font-weight: bold;

}

#loginBlock
{
    height: 300px;
    width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -200px 0 0 -250px;
    text-align: center;
    border: 1px solid silver;
    padding-top: 70px;
    padding-bottom: 35px;
}

#loginBlock, #loginBlock h1, #loginBlock h3
{
    color: white !important;
}

#loginBlock input[type="text"], #loginBlock input[type="password"]
{
    background: none;
    border: 1px solid white;
    padding: 5px 15px;
    color: white;
}

#loginBlock input[type="submit"]
{
    background: none;
    border: 1px solid white;
    padding: 5px 15px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
}

#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

/*.mainmenu
{
    width: 100%;
    clear: both;
    position: relative;
    height: 70px;

}

.mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
    width: 100%;
}

.mainmenu ul li
{
    margin-bottom: 7px;
}

.mainmenu ul li a, .mainmenu ul li span
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
    display: block;
}

.mainmenu ul li a:hover, .mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}*/

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	display: none;
    padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

div.info
{
    font-style: italic;
}

.grid-view .items.table thead
{
    font-size: 10px !important;
}

.grid-view .items.table thead a
{
    font-size: 10px !important;
}

.grid-view .table .button-column
{
	min-width: 0 !important;
}

.ajax-preloader
{
	position: absolute;
	z-index: 999;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(128,128,128,0.7);
	display: none;
}

.ajax-preloader > div
{
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(../../images/layout/preloader.gif);
	background-repeat: no-repeat;
	background-position: center center;
}




/* GRID VIEW FIXes*/

/*select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {*/
	 /*padding: 4px 0 !important;*/
/*}*/

.chosen-container-single .chosen-single {
	padding: 4px 0 !important;
	height: 30px !important;
	margin-bottom: 10px !important;
	border: 1px #D0E3EF solid;
	background: white !important;
	box-shadow: 0;
	text-decoration: none;
	white-space: nowrap;


}


div.overlay
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url('../../images/layout/mainBg.png');
	z-index: 999;
}

div.overlay .loader
{
	position: absolute;
	width: 100%;
	height: 100%;
	background: url('../../images/layout/preloader.gif') no-repeat center center;
}

div.overlay .loader-text-top
{
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	top: 35%;
	font-weight: bold;
	display: none;
}

div.overlay .loader-text-bottom
{
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	bottom: 35%;
	font-weight: bold;
	display: none;
}

.grid-view img
{
	max-width: initial;
}







