.priceTable
{
    border: 1px solid black;
    margin: 5px 0;
}

.priceTable:nth-of-type(2n)
{
    background: #eaeaea;
}

.priceTable div
{
    margin: 0 2px;
    padding: 1px;
}

.priceRow
{
    clear: both;
    width: 100%;
    margin: 2px 0;
    padding: 5px 0;
    overflow: auto;
    border-bottom: 2px dashed gray;
}

.priceRow:last-child
{
    border: none;
}

.countryName
{
    width: 150px;
    vertical-align: top;
}

.weight
{
    float: left;
    width: 150px;
}

.pickup
{
    width: 220px;
    float: left;
    background: #eaeaea;
}

.delivery
{
    float: left;
}

.hub
{
    width: 220px;
    float: left;
}

.hub:nth-of-type(2n)
{
    background: aliceblue;
}

.hub:nth-of-type(2n+1)
{
    background: #c6ddf8;
}

.itemKiloGroup
{
    width: 100%;
    overflow: auto;
}

.errorMessage
{
    color: #ab0000;
    font-size: 12px;
    padding: 2px;
    margin: 2px;
}

.blanket
{
    background: #F92A00;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.price_disabled
{
    position: relative;
}