html, body
{
    margin: 0;
    padding: 0;
    font-family: Arial, "Courier New", monospace;
}

body
{

}

@keyframes bg {
    from {
        background-color: #EB9D1A;
        color: white;
    }
    to {
        background-color: #FFFFFF;
        color: #EB9D1A;
    }

}


body > div
{
	background: #EB9D1A;
	color: white;
    margin: -150px auto 0 auto;
    text-align: center;
    position: absolute;
    top: 50%;
	padding-top: 50px;
    height: 300px;
    width: 100%;
    animation-name: bg;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

